/* 
    Document   : senchagallery
    Created on : Mar 14, 2013, 7:24:30 PM
    Author     : SWARNENDU
    Description:
        Purpose of the stylesheet follows.
*/

body ,
.texturebg.x-container,
.texturebg.x-container .x-scroll-vew{ 
    background: url(../images/bg.jpg) no-repeat;
				background-size: 100% 100%;
}

.thumbview .x-dataview-item{
				width: 75px;
				float: left;
				margin: 2px;
				height: 75px;
}

.thumbview .x-dataview-item .thumb{

}

.largeimage{
				text-align: center;
}

.largeimage img{
				max-width: 100%;
max-height: 100%;
}